.footer{
	background-color: #090E16;
	padding: 55px 0;
	color: #fff;
	font-size: 14px;
	line-height: 25px;
	font-weight: 300;
	.container{
		display: flex;
		justify-content: space-between;
		@include tablet{
			display: block;
		}
	}    
	&__left{
		width: 40%;
		@include tablet{
			width: 100%;
		}
	}
	&__adress{
		margin-bottom: 30px;
		&-title{
			
		}
		&-text{
			color: #A1A9B8;
		}
	}
	&__photo{
		margin-bottom: 30px;
		&-link{
			color: $red;
			text-decoration: none;
		}
	}
	&__right{
		width: 60%;
		@include tablet{
			width: 100%;
		}
	}
	&__disclaimer{
		&-title{
			margin-bottom: 10px;
		}
		&-text{
			color: #A1A9B8;
		}
	}
}